@page
@model CallOfIT.Views.Sistemas.CadastrarModel
@{
}
<div class="card">

    @if (TempData.ContainsKey("MsgError"))
    {
        <div class="alert alert-danger">
            @TempData["MsgError"]
        </div>
    }


    <div class="card-body">
        <form class="row g-3" asp-action="CadastrarSistema" asp-controller="Sistemas" method="post">
            <div class="col-md-12">
                <label for="inputSistema" class="form-label">Sistema</label>
                <input type="text" class="form-control" id="inputSistema" name="inputSistema">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>

        </form>
    </div>
</div>