@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table id="tbChamadosAtribuidos" name="tbChamadosAtribuidos" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sistema</th>
            <th scope="col">Abertura</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Onbase</td>
            <td>01/02/2023</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>CPFL</td>
            <td>10/02/2023</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>ERP</td>
            <td>13/02/2023</td>
        </tr>
    </tbody>
</table>



@section Scripts{
<script>
   $(document).ready( function ()
   {
      $('#tbChamadosAtribuidos').DataTable();
   } );
</script>
}