<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CallOfIT</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" />
</head>

<body>
    
    <header> 
        @{
            if (User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-dark bg-dark fixed-top">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/Images/CallOfIT-removebg-preview.png" style="margin: 0px; background-color: transparent;" alt="Bootstrap" width="50" height="45">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Chamados" asp-action="Index">Chamados</a>
                                    </li>

                                    @if (TokenHolder.Tipo_Usuario_Id == 1)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Sistemas" asp-action="Index">Sistemas</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuários</a>
                                        </li>
                                    }
                
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            }
        }
    </header>


    <div class="container" style="margin:06rem">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




<!--
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - CallOfIT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
-->
