@{
    ViewBag.Title = "Página não encontrada";
}

<style>
    h1 {
        font-size: 48px;
        margin-bottom: 30px;
    }

    p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    a {
        color: #333;
        font-weight: bold;
        text-decoration: underline;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
</style>

<div class="row container mx-auto text-center pt-4">
    <div class="container">
        <h1>404 - Página não encontrada</h1>
        <p>Desculpe, a página que você está procurando não existe ou foi movida.</p>
        <p>Por favor, verifique o endereço digitado ou <a href="/">volte para a página inicial</a>.</p>
    </div>
    <div class="container">
        <img src="../Images/404Tel.jpg" style="height: 75%; width: 70%; border-radius: 50px;">
    </div>
</div>
