.card {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: lightsteelblue;
}
.style-alert {
    text-align: center;
}

.icon-css {
    width: 50px;
    height: 50px;
    border-radius: 20%;
}