div.container {
    display:flex;
}
img{
    margin: 1rem;
}
.card {
    width: 18rem;
    align-items: center;
    margin: 1rem;
}
.card-body {
    align-items: center;
}
.card-img-top {
    width: 50%;
    height: auto;
}

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 18rem;
    flex-basis: 100%;
}

@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }
}