@{    
}

<link rel="stylesheet" href="~/css/home.css" type="text/css"/>

<div class="container text-center">
    <div class="d-inline-block">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/apoio-suporte.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Chamados</h5>
                <p class="card-text">Fila de chamados, atribuir chamados e acompanhamento.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Chamados" asp-action="Index">Visualizar</a>
            </div>
        </div>
    </div>


    <div class="d-inline-block">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/gerenciamento-de-conteudo (1).png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Sistemas</h5>
                <p class="card-text">Cadastrar, editar ou excluir sistemas suportados.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Sistemas" asp-action="Index">Visualizar</a>
            </div>
        </div>
    </div>


    <div class="d-inline-block">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/do-utilizador.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Cadastro, alterações e desativações de usuários do sistema.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Index">Visualizar</a>
            </div>
        </div>
    </div>

</div>