@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/chamados.css" type="text/css"/>

<div class="card">
    <h5 style="text-align:center"  class="card-header">Filas de Chamados</h5>
    <div class="card-body">

        <table id="tbFilasChamados" name="tbFilasChamados" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Filas</th>
                    <th cope="col">Abrir Filas</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Entrada de Chamados</td>
                    <td>
                        <a asp-area="" asp-controller="Chamados" asp-action="Entrada" class="btn btn-outline-secondary">Abrir</a>
                    </td>
                </tr>

                <tr>
                    <td>Chamados Designados</td>
                    <td>
                        <a asp-area="" asp-controller="Chamados" asp-action="Designados" class="btn btn-outline-secondary">Abrir</a>
                    </td>
                </tr>

                <tr>
                    <td>Chamados Pendentes</td>
                    <td>
                        <a asp-area="" asp-controller="Chamados" asp-action="Pendentes" class="btn btn-outline-secondary">Abrir</a>
                    </td>
                </tr>

                <tr>
                    <td>Chamados Concluidos</td>
                    <td>
                        <a asp-area="" asp-controller="Chamados" asp-action="Concluidos" class="btn btn-outline-secondary">Abrir</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>