@model List<Chamado>

<link rel="stylesheet" href="~/css/chamados.css" asp-append-version="true" />

@if (TempData.ContainsKey("MsgError"))
{
    <div class="card">
        <div class="alert alert-danger" style="text-align:center">
            @TempData["MsgError"]
        </div>
    </div>
}

<div class="card">
    <div class="card-header d-flex align-items-center">
        <img src="~/Images/gif/document.gif" class="icon-css mr-3">
        <h4 class="text-center mb-0 flex-grow-1">Fila de Chamados</h4>
    </div>

    <div class="card-body">
        <table id="tbFilasChamados" name="tbFilasChamados" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Filas</th>
                    <th cope="col">Abrir Filas</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Entrada de Chamados</td>
                    <td>
                        <a asp-area="" asp-controller="Chamados" asp-action="Entrada" class="btn btn-outline-secondary">Abrir</a>
                    </td>
                </tr>

                <tr>
                    <td>Chamados Designados</td>
                    <td>
                        <a asp-area="" asp-controller="Chamados" asp-action="Designados" class="btn btn-outline-secondary">Abrir</a>
                    </td>
                </tr>

                <tr>
                    <td>Chamados Pendentes</td>
                    <td>
                        <a asp-area="" asp-controller="Chamados" asp-action="Pendentes" class="btn btn-outline-secondary">Abrir</a>
                    </td>
                </tr>

                <tr>
                    <td>Chamados Concluidos</td>
                    <td>
                        <a asp-area="" asp-controller="Chamados" asp-action="Concluidos" class="btn btn-outline-secondary">Abrir</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="container text-center">
        <div class="row text-center ">
            <div class="col-md-6 mb-3 mx-auto">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'"><b>Voltar</b></button>
            </div>
        </div>
    </div>
</div>

